@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.sidenav {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #1E2027;

}

.sidenav .main-buttons {
    list-style-type: none;
    margin: 64px 0;
    padding: 0;
    color: #fff;
}

.sidenav .main-buttons li {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.sidenav .main-buttons>li {
    padding: 16px 52px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sidenav .main-buttons>li .fa {
    position: absolute;
    left: 12px;
    color: #414655;
}

.sidenav .main-buttons>li:hover,
.sidenav .main-buttons>li:active,
.sidenav .main-buttons>li:focus {
    background-color: #352932;
    cursor: pointer;
}

.sidenav .main-buttons>li:hover .hidden,
.sidenav .main-buttons>li:active .hidden,
.sidenav .main-buttons>li:focus .hidden {
    width: 248px;
}

.hidden {
    width: 0;
    height: 100%;
    padding: 64px 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #292c35;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.hidden li {
    padding: 16px 24px;
}

.hidden li:hover,
.hidden li:active,
.hidden li:focus {
    background-color: #323541;
}

body {
    background-color: #caccd6;
    line-height: 30px;
}

html,
body {
    height: 100%;
    color:  #caccd6;
}

/*Calendar*/

.calendar {
    width: 280px;
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
}

.calendar__month {
    font-size: 20px;
    font-weight: 800;
    padding: 10px 5px;
    width: 100%;
    position: relative;
}

.cal-month__previous,
.cal-month__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
}

.cal-month__previous:hover,
.cal-month__next:hover {
    background-color: #42A5F5;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
    border-radius: 30%;
    font-weight: 800;
    color: #caccd6;
}

.cal-month__next {
    right: 0;
}

.cal-month__current {
    text-align: center;
    color: #caccd6;
}

.cal-head__day,
.cal-body__day {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
}

.cal-body__week,
.calendar__head {
    display: block;
    height: 40px;
    width: 280px;
}

.calendar__head {
    line-height: 40px;
    position: relative;
}

.calendar__head:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #90CAF9;
}

.cal-body__day {
    color: #777;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.cal-day__month--current {
    color: #caccd6;
}

.cal-day__day--today {
    font-weight: 800;
    color: #2196f3;
}

.cal-day__day--selected {
    background-color: #2196f3;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    color: #caccd6;
}